.regisHead{
  text-align: center;
  margin: 40px 0;
}
.regisBody{
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}
.btn {
  margin: 10px 0;
}

.fin {
  margin: 200px;
}
