		body {
			background-color: #b6b6b6;
			font-family: 'Athiti', sans-serif;
			font-size: 18px;
		}
	    .navbar {
	      margin-bottom: 10px;
	      border-radius: 0;
	      font-weight: bold;
				background-color: #111111;
	    }
	    footer {
	      background-color: #414141;
	      color: white;
	      padding: 25px;
	    }
	    #banner {
	    	width: 100%;
	    }
	    #about_me {
	    	text-decoration: none;
	    	color: white;
	    }
	    .content {
	    	padding: 0px 50px;
	    }
	    .topic {
	    	font-size: 22px;
				font-weight: bold;
				background-color: #333333;
				color: white;
				display: block;
				padding: 10px;
	    }
	    .topic a {
	    	font-size: 18px;
	    	color: #238dce;
	    	text-decoration: none;
				font-weight: normal;
	    }
			.topic a:hover {
				color: white;
			}
			.thumbnail {
				background-color: #555555;
				border-color: #555555;
				border-radius: 10px;
				display: inline-block;
				margin: 0px auto 50px 40px;
				width: 20%;
			}
			.thumbnail img {
				border-radius: 10px;
			}
			.dropdown-menu-item {
				font-size: 17px;
				margin: 10px auto;
			}
			.caption p{
				color: white;
			}
			.carousel-inner {
				max-height: 300px;
			}
			.carousel-inner > .item > img,
		  .carousel-inner > .item > a > img {
		    margin: auto;
				width: 100%;
				height: 300px;
				overflow: hidden;
		  }
			.carousel-caption {
				background-color: black;
				opacity: 0.7;
			}
			.slide {
				width: 90%;
				margin-bottom: 20px;
			}
			.container {
				width: 90%;
			}
